@page
@model FSPBook.Portal.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}

<h1>Profile</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.JobTitle)
        </dd>
    </dl>
    <h4>Posts</h4>
    <div class="centered">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Posts[0].Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Posts[0].DateTimePosted)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @{
                                string DateString = item.DateTimePosted.ToString("MM/dd/yyyy HH:mm");
                            }
                            @Html.DisplayFor(modelItem => DateString)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>|
    <a asp-page="./Index">Back to Home Page</a> |
</div>
